/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap");
:root {
  --white-50-opacity: rgba(255, 255, 255, 0.5);
  --cyan-600: hsl(192, 37%, 48%);
  --cyan-300: hsl(192, 90%, 77%);
  --purple-600: hsl(268, 34%, 53%);
  --purple-300: hsl(268, 100%, 86%);
  --slate-900: hsl(240, 21%, 20%);
  --slate-600: hsl(240, 10%, 57%);
  --slate-300: hsl(240, 18%, 85%);
  --white-002: hsl(0, 0%, 98%);

  --White: hsl(0, 0%, 100%);
  --Attribution-color: hsl(228, 45%, 44%);

  /* --fw-200: 200;  */
  /*extra light*/
  /* --fw-400: 400;  */
  /*normal*/

  --fw-500: 500;
  --fw-600: 600; /*semi-bold*/

  --space-size-112px: 112px; /*1400*/
  --space-size-80px: 80px; /*1000*/
  --space-size-70px: 70px; /*900*/
  --space-size-64px: 64px; /*800*/
  --space-size-56px: 56px; /*700*/
  --space-size-40px: 40px; /*500*/
  --space-size-32px: 32px; /*400*/
  --space-size-24px: 24px; /*300*/
  --space-size-16px: 16px; /*200*/
  --space-size-8px: 8px; /*100*/
  --space-size-4px: 4px; /*50*/

  --txt-size-64px: 64px; /*Txt Preset 1 - line-height: 110%, letter spacing: 0px*/
  --txt-size-48px: 48px;
  --txt-size-40px: 40px; /*Txt Preset 2 - line-height: 110%, letter spacing: 0px*/
  --txt-size-16px: 16px; /*Txt Preset 3 - line-height: 110%, letter spacing: 4px*/
  --txt-size-18px: 18px; /*Txt Preset 4 - line-height: 110%, letter spacing: 0px*/
  /*--txt-size-16px: 16px;*/ /*Txt Preset 5 - line-height: 150%, letter spacing: 0px*/
}

/* General & Global styling */
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
/* body, html {
  width: 100%;
  overflow-x: hidden; 
} */
body {
  font-family: "Outfit", serif;
  background: var(--white-002);
  /* color: var(--Very-Dark-Blue);  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
  padding: 0;
}
footer {
  color: var(--White);
  position: relative;
  padding-bottom: 5px;
}

.attribution {
  font-size: var(--size-11px);
  text-align: center;
}
.attribution a {
  color: var(--Attribution-color);
}

/* Responsive  Media queries */
/* Tablet size */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 768px;
  }
  svg {
    display: inline-block;
    height: 28px;
    width: 118px;
    margin: 2em;
    padding: 0;
    /* z-index: 10; */
    position: relative;
    visibility: visible;
    /* background-color: transparent; */
  }
  h1,
  h2 {
    color: var(--slate-900);
    font-size: var(--txt-size-48px);
    line-height: 1.2;
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 5px;
  }

  section.section-02 div.content h2,
  section.section-02 div.content p {
    color: var(--White);
  }
  p {
    color: var(--slate-600);
    font-size: var(--txt-size-12px);
    line-height: 110%;
    letter-spacing: 1px;
    /* font-weight: var(--fw-500); */
    /* margin-bottom: 2rem; */
  }
  section.section-02 div.content p {
    margin: 2rem 0rem;
  }
  .section-00 {
    max-width: 768px;
    margin: 0 auto;
    /* height: 715px; */
    position: relative;
    overflow: visible;
    z-index: 0;
    margin-bottom: 3rem;
  }
  .hero {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  .btn {
    background: var(--cyan-600);
  }
  .btn-2 {
    width: 161px;
    margin-bottom: 5rem;
  }
  .btn,
  .btn-3 {
    width: 193px;
    margin-bottom: 2rem;
  }
  .btn-2,
  .btn-3 {
    background: var(--purple-600);
  }
  .btn,
  .btn-2,
  .btn-3 {
    height: 56px;
    border-radius: 3rem;
    color: var(--White);
    border-style: none;
    font-size: var(--txt-size-16px);
    line-height: 150%;
    font-weight: var(--fw-600);
  }
  section button span {
    color: var(--cyan-300);
  }
  .section-01 {
    height: 915px;
    width: 375px;
    position: relative;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
  }
  .verticalLine,
  .verticalLine-2 {
    border-left: solid 1px var(--slate-300);
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .verticalLine {
    top: -3rem;
    z-index: 2;
  }
  .verticalLine-2 {
    top: -7rem;
    z-index: 1;
  }
  .circle,
  .circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 56px;
    height: 56px;
    border: solid 1px var(--slate-300);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 20px auto; */
    background: var(--White);
  }
  .circle {
    top: 2rem;
    z-index: 1;
  }
  .circle-2 {
    top: -2rem;
    z-index: 11;
  }
  .circle span,
  .circle-2 span {
    font-size: 1rem;
    font-weight: var(--fw-600);
  }
  .image-grid {
    display: grid;
    grid-template-columns: 147.5px 147.5px;
    grid-template-rows: 144px 144px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 10rem;
    z-index: 0;
    position: relative;
    margin-bottom: 5rem;
  }
  .box.a,
  .box.b,
  .box.c,
  .box.d {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
  }
  .a {
    background: url(./assets/desktop/image-woman-in-videocall.jpg) no-repeat
      center center;
  }
  .b {
    background: url(./assets/desktop/image-women-videochatting.jpg) no-repeat
      center center;
  }
  .c {
    background: url(./assets/desktop/image-men-in-meeting.jpg) no-repeat center
      center;
  }
  .d {
    background: url(./assets/desktop/image-man-texting.jpg) no-repeat center
      center;
  }
  .section-02 {
    height: 374px;
    width: 375px;
    position: relative;
    overflow: visible;
  }
  .section-02 .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/mobile/image-footer.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
  }
  .section-02 .background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-300);
    opacity: 0.4;
    z-index: 2;
  }
  .section-02 .content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: var(--White);
    padding: 1em;
  }
}
/* Mobile size  */
@media only screen and (max-width: 390px) and (max-height: 844px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 375px;
  }
  svg {
    height: 28px;
    width: 118px;
    margin: 0.5em;
  }
  h1,
  h2 {
    color: var(--slate-900);
    font-size: var(--txt-size-40px);
    line-height: 110%;
  }
  section.section-02 div.content h2,
  section.section-02 div.content p {
    color: var(--White);
  }
  p {
    color: var(--slate-600);
    font-size: var(--txt-size-12px);
    line-height: 110%;
    letter-spacing: 1px;
    /* font-weight: var(--fw-500); */
    /* margin-bottom: 2rem; */
  }
  section.section-02 div.content p {
    margin: 2rem 0rem;
  }
  .section-00 {
    height: 715px;
    margin-bottom: 3rem;
  }
  .hero {
    width: 375px;
    margin: 25px 0px;
    display: block;
  }
  .btn {
    background: var(--cyan-600);
  }
  .btn-2 {
    width: 161px;
    margin-bottom: 5rem;
  }
  .btn,
  .btn-3 {
    width: 193px;
    margin-bottom: 2rem;
  }
  .btn-2,
  .btn-3 {
    background: var(--purple-600);
  }
  .btn,
  .btn-2,
  .btn-3 {
    height: 56px;
    border-radius: 3rem;
    color: var(--White);
    border-style: none;
    font-size: var(--txt-size-16px);
    line-height: 150%;
    font-weight: var(--fw-600);
  }
  section button span {
    color: var(--cyan-300);
  }
  .section-01 {
    height: 915px;
    width: 375px;
    position: relative;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 6rem;
  }
  .verticalLine,
  .verticalLine-2 {
    border-left: solid 1px var(--slate-300);
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .verticalLine {
    top: -3rem;
    z-index: 2;
  }
  .verticalLine-2 {
    top: -7rem;
    z-index: 1;
  }
  .circle,
  .circle-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 56px;
    height: 56px;
    border: solid 1px var(--slate-300);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    /* margin: 20px auto; */
    background: var(--White);
  }
  .circle {
    top: 2rem;
    z-index: 1;
  }
  .circle-2 {
    top: -2rem;
    z-index: 11;
  }
  .circle span,
  .circle-2 span {
    font-size: 1rem;
    font-weight: var(--fw-600);
  }
  .image-grid {
    display: grid;
    grid-template-columns: 147.5px 147.5px;
    grid-template-rows: 144px 144px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 10rem;
    z-index: 0;
    position: relative;
    margin-bottom: 5rem;
  }
  .box.a,
  .box.b,
  .box.c,
  .box.d {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
  }
  .a {
    background: url(./assets/desktop/image-woman-in-videocall.jpg) no-repeat
      center center;
  }
  .b {
    background: url(./assets/desktop/image-women-videochatting.jpg) no-repeat
      center center;
  }
  .c {
    background: url(./assets/desktop/image-men-in-meeting.jpg) no-repeat center
      center;
  }
  .d {
    background: url(./assets/desktop/image-man-texting.jpg) no-repeat center
      center;
  }
  .section-02 {
    height: 374px;
    width: 375px;
    position: relative;
    overflow: visible;
  }
  .section-02 .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./assets/mobile/image-footer.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
  }
  .section-02 .background-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--purple-300);
    opacity: 0.4;
    z-index: 2;
  }
  .section-02 .content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: var(--White);
    padding: 1em;
  }
}

/* Desktop size */
/* @media only screen and (max-width: 1440px) and (max-height: 900px) { 
  
} */
